extends layout

//- SYLLABUS PAGE
block content
    div
        //- Essentially links to html page from path given
            Done so as to not redo entirety of syllabus work already made
        include ./static_html/syllabus.html